.Signining{
    background: -webkit-linear-gradient(top, #f8f8f8, #f59eff);
    min-height: 75vh;
}

.SignButton{
    display: inline-block;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #e7e3ea, #c465cb);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    width: 30vw;
    height: 72px;
    line-height: 72px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.SignDiv{
    text-align: center;
    min-height: 15vh;
    padding-top: 5vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}